{% extends "::base.html.twig" %}

{% block title %}Editor de Text{% endblock %}

{% block body %}
<h1>Benvingut a la pàgina de creació de documents</h1>
{{form(formulari)}}
<a href="{{path('m7_editor_homepage')}}"><--Back</a>
{% endblock %}
