{% extends "::base.html.twig" %}

{% block title %}M7EditorBundle:Manager:saveDoc{% endblock %}

{% block body %}
<h1>El document {{sms}}</h1>
<a href="{{path('m7_editor_homepage')}}"><--Back</a>
{% endblock %}
