{% extends "CrudPersonaBundle::layout.html.twig" %}

{% block body %}
       
<h1>pagina principal:crear Video</h1>

    {{ form(formulario)  }}

     <a href="{{ path('homepage')  }}" > <-back </a>
{% endblock %}
